$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 1;
  color: inherit;
  border: none;
  background-color: forestgreen;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 0.25em;
  cursor: pointer;
  text-transform: uppercase;
}
